 
 @media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, #F1F2D8, #400101);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        background: url(../imagens/wine.png.jpg) no-repeat center;
        background-size: cover;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }

    form > p.campo {
        background-color: #940404c4;
    }

    form > input[type=submit] {
        background-color: #400101;
        color: white;
        height: 50px;
    }

    form > input[type=submit]:hover {
        background-color: #F1F2D8;
        border: 1px solid #400101;
        color: #400101;
    }

    form > a.boton {
        background-color: #F1F2D8;
        border: 1px solid #400101;
        color: #400101;
        height: 50px;
        margin: 8px 0px;
        padding: 10px 0px;
    }

    form > a.boton:hover {
        background-color: #400101;
        color: #F1F2D8;
    }
 }

 @media screen and (min-width: 992px){

    body {
        background-image: linear-gradient(to top, #F1F2D8, #400101);
    }

    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        background: url(../imagens/wine.png.jpg) no-repeat center;
        background-size: cover;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
        text-align: center;
    }

    form > p.campo {
        background-color: #940404c4;
    }

    form > input[type=submit] {
        background-color: #400101;
        color: white;
        height: 50px;
    }

    form > input[type=submit]:hover {
        background-color: #F1F2D8;
        border: 1px solid #400101;
        color: #400101;
    }

    form > a.boton {
        background-color: #F1F2D8;
        border: 1px solid #400101;
        color: #400101;
        height: 50px;
        margin: 8px 0px;
        padding: 10px 0px;
    }

    form > a.boton:hover {
        background-color: #400101;
        color: #F1F2D8;
    }
 }
