
/* Paleta de cores

    Roxo: #8C4A69
    Azul: #0C1D40
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
   background-color: #547193;
}

section {
    margin: auto;
    padding-top: 20px;
}

section > #imagem {
    height: 30vh;
    width: 50vw;
    background: url(../imagens/galaxia.jpg) no-repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section > #formulario {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50vw;
    height: 40vh;
}
