
/* Paleta de cores

    Roxo: #8C4A69
    Azul: #0C1D40
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
   background-color: #547193;
}

section {
    padding-top: 20px;
    margin: auto;
}

section > #imagem {
    background: url(../imagens/galaxia.jpg) no-repeat;
    height: 300px;
    width: 70vw;
    border-radius: 20px;
}

section > #formulario {
    background-color: white;
    width: 70vw;
    height: 300px;
}